
.header{
    background-color: black;
    display: flex;
    align-items: center;
    /* flex-direction: row; */
}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin-top:18px;
    margin-left:20px;
    margin-right:20px;
}
.header_nav{
display: flex;
justify-content: space-evenly;
}
.header_link{
    color:white;
    text-decoration:none;

}
.header_search{
    display: flex;
    flex:1;
}

.header_searchInput{
   height:12px;
   padding:10px;
   border:none;
   width:100%;
}

.header_searchIcon{
    background-color: orange;
    padding:5px;
    height:22px !important;
}
